.slider {
	margin: 50px 0 100px;

	&__img-wrapper {
		padding: 90px 0;
	}

	&__img {
		margin: -15px;
		padding: 15px;
		border: 1px solid $orange;
		position: relative;

		&::after,
		&::before {
			content: '';
		  	background: #fff;
		    z-index: 0;
		}

		&::before {
			@include abs(25%, -2px, 25%, -2px);
		}

		&::after {
			@include abs(-2px, 25%, -2px, 25%);
		}

		img {
			display: block;
			border: inherit;
			position: relative;
			z-index: 1;
			//width: 100%;
			//border: 1px solid $orange;
		}
	}

	&__divider {
		@include size(1px, 100%);
		background: $orange;
		margin: 0 auto;
	}

	&__pagination {
		text-align: center;
		margin-top: 40px;
	}

	&__pagination-item {
		@include size(15px);
		border-radius: 50%;
		display: inline-block;
		background: $orange;
		border: 1px solid #fff;
		cursor: pointer;
		margin: 0 5px;
	}

	&__pagination-item--active,
	&__pagination-item:hover {
		background: #fff;
		border-color: $orange;
	}

	&__item {
		text-align: center;
	}

	&__title {
		color: $grey;
		font: 900 36px $roboto;
		padding-bottom: 30px;
		margin-bottom: 30px;
		position: relative;

		&::after {
			@include size(100px, 1px);
			@include abs(50%, $bottom: 0);
			content: '';
			background: $orange;
			transform: translateX(-50%);
		}
	}

	&__position {
		color: $grey;
		font-size: 24px;
		margin-bottom: 30px;
	}

	&__link {
		font: 700 14px/24px $opensans;
		color: $grey;
		text-decoration: none;
		border: 1px solid $orange;
		text-transform: uppercase;
		display: inline-block;
		padding: 0 10px;

		&:hover {
			background: $orange;
			color: #fff;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 24px;
		font-weight: 600;
		color: $darkgrey;
	}

	&__decor {
		@include size(20px, 4px);
		margin: 25px auto;
		background: $orange;
		position: relative;

		&::before,
		&::after {
			@include size(10px, 100%);
			content: '';
			position: absolute;
			top: 0;
			background: inherit;
		}

		&::before {
			left: -15px;
		}

		&::after {
			right: -15px;
		}
	}
}

.social {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;

	&__item {
		@include size(30px);
		border: 2px solid #ccc;
		border-radius: 50%;
		margin: 0 3px;
		overflow: hidden;

		a {
			@include size(100%);
			background-repeat: no-repeat;
			background-position: center center;
			display: block;

			&:hover {
				background-color: darken(#ccc, 15%);
			}
		}
	}

	&__fb {
		background-image: url('../images/fb.png');
	}

	&__tw {
		background-image: url('../images/tw.png');
	}

	&__gl {
		background-image: url('../images/gl.png');
	}

	&__ln {
		background-image: url('../images/ln.png');
	}
}

.arrow {
	@include size(80%, 100%);
	background: url('../images/arr.png') no-repeat center center;
	cursor: pointer;

	&:hover {
		background-color: #eee;
	}

	&--right {
		transform: rotate(180deg);
	}
}
